# IDE files
.vscode/

# Oracle JDK
jdk-6u45-linux-x64.bin

# Test files
Test.*

# Build directories
build/
dist/

# Data
manifests/

# Output directories
apps/
bytecode/
reports/

# Test output
TEST-*
*.log
*.properties

# Output JAR
*.jar

# Random notes
notes.txt
