# IDE files
.vscode/

# Oracle JDK
jdk-6u45-linux-x64.bin

# Build directories
build/
dist/

# Data directory
data/

# Output directories
apps/
bytecode/
reports/

# Test output
TEST-*
*.log
*.properties
